body{
    margin: 30px;
    padding: 30px;
    background-color: whitesmoke;
    
}

#bebidas_can div img {
    width: 50%;
    margin: 55px;
    

}

#bebidas_can{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#bebidas_can div {
    background-color: rgb(240, 201, 154);
    border: 10px solid gray;
    border-radius: 15px;
    margin: 50px;
    text-align: center
}

.list2  {
   
    padding: 0;
    width: 200px;
    
    margin-left: 10%;

    display: flex;
    
    flex-direction: row;
    
}

.item2 {

    list-style: none;
    text-decoration: none;
    text-align: center;
    width: 200%;
    padding: 10px;
    border: 5px solid black;
    background-color: aquamarine;
}


.sublist {
    display: none;
    margin: 10px;
    text-align: left;
    list-style: disc;
}

.list3  {
    padding: 0;
    width: 200px;
    
    margin-left: 180%;
    
    display: flex;
    flex-direction: row;
    
}

.list4  {
    padding: 0;
    width: 200px;
    
    margin-left: 150%;
    
    display: flex;
    flex-direction: row;
    
}

