body{
    margin: 30px;
    background-color: whitesmoke;
}

#bebidas_can div img {
    width: 50%;
    margin: 55px;
    

}

#bebidas_can{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#bebidas_can div {
    background-color: rgb(240, 201, 154);
    border: 10px solid gray;
    border-radius: 15px;
    margin: 30px;
    text-align: center
}